.container{
  width: 620px;
  margin: 0 auto;
}
.content .eventCard{
  margin-top: 10px;
}
.content .cardContainer{
  background-color:  #F2F2F2;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.cardContainer .checkBox{
  width: 70px;
}
.cardContainer .checkBox input{
  margin-left: 32px;
}
.cardContainer .eventTitle{
  line-height: 3.2em;
  font-size: 24px;
  width: 430px;
}
.cardContainer .starIcon{
  width: 60px;
  font-size: 24px;
}
.cardContainer .pencilIcon{
  width: 60px;
  font-size: 24px;
}
.cardContainer .stateBlock{
  display: flex;
  padding-left: 70px;
  margin-bottom: 1em;
  font-size: 1rem;
  color: #757575;
}
.stateBlock .iconPadding{
  padding:0 8px;
}


/* .cardDetailContainer .icon,  */
