.container{
  width: 620px;
  margin: 0 auto;
}
.content .eventCard{
  background-color:  #F2F2F2;
  margin-top: 1.5em;
}
.content .cardContainer{
  display: flex;
  align-items: center;
  height: 100px;
}
.cardContainer .checkBox{
  width: 70px;
}
.cardContainer .checkBox input{
  margin-left: 32px;
}
.cardContainer .eventTitle{
  font-size: 24px;
  width: 430px;
}
.cardContainer .starIcon{
  width: 60px;
  font-size: 24px;
}
.cardContainer .pencilIcon{
  width: 60px;
  font-size: 24px;
}
